.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .city-dropdown {
    position: relative;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
  }
  
  .dropdown-content div {
    padding: 5px;
    cursor: pointer;
  }
  
  .date-picker {
    display: flex;
  }
  
  .dropdown button {
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  .dropdown button span {
    margin: 0 5px;
  }
  
  .search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .search-button svg {
    margin-right: 5px;
  }
  