.Signup-page-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Signup-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 85%;
  box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.Signup-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.Signup-image-container img {
  max-height: 100%;
  object-fit: contain;
  max-width: 80%;
  transition: transform 0.3s ease-out, filter 0.3s ease-out;
}

.Signup-image-container:hover img {
  transform: scale(1.05);
}

.Signup-Page img {
  max-width: 100%;
}

/* ======> FORM <=======  */
.Signup-form-container {
  flex: 1;
  position: relative;
  height: 100%;
  background-color: #008ec4;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Signup-form {
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.Signup-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 0 2rem 0;
}

.underlineSvgSignup {
  width: 8rem;
}
.Signup-form-container svg path {
  fill: #fff;
}

.Signup-section-heading {
  font-size: 2rem;
  text-align: center;
}

/* ======== */

.Signup-box .signup-user-box {
  position: relative;
  width: 20vw;
}

.Signup-box .signup-user-box input {
  color: #fff;

  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
}
.Signup-box .signup-user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  /* color: #008ec4; */
  color: #ddd;
  pointer-events: none;
  transition: 0.5s;
}

.Signup-box .signup-user-box input:focus ~ label,
.Signup-box .signup-user-box input:valid ~ label,
.Signup-box .signup-user-box input:not(:placeholder-shown) ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.Signup-box .signup-user-box input:focus {
  border-bottom: 2px solid #fff;
}

.Signup-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 1rem; */
}

.Signup-btn-submit {
  text-align: center;
  padding: 1rem 2.5rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: #243a54;
}

.Signup-btn-submit:hover {
  color: #243a54;
  background-color: #fff;
}

.Signup-extra-links {
  margin-bottom: 0.8rem;
  margin-top: 0.5rem;
  color: #ddd;
}

.Signup-extra-links a {
  text-decoration: none;
  transition: color 0.5s ease;
  color: #fff;
}
.Signup-extra-links a:hover {
  /* text-decoration: underline; */
  color: #ddd;
}

.other-signup-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  gap: 1rem;
}

.lines::before {
  content: "";
  position: absolute;
  /* background-color: black; */
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 25%;
  right: 0;
  top: 14%;
}
.lines::after {
  content: "";
  position: absolute;
  border-radius: 1rem;
  border: 1px solid #fff;
  width: 25%;
  left: 0;
  top: 14%;
}

.signup-social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.signup-social-icon path{
    transition: fill 0.4s ease;
}
.signup-social-icon:hover path{
    fill: #243a54;

}

