.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 1rem;

  transition: 0.3s all ease;
}

.swiper-slide-active {
  filter: blur(0px) !important;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.testimonialBox {
  border-radius: 1rem;
  position: relative;
  padding: 40px;
  padding-top: 90px;
  color: #999;
  background-color: #fff;
}

.qoute {
  position: absolute;
  top: 20px;
  right: 30px;

  opacity: 0.5;
  width: 5rem;
}

.qoute img {
  max-width: 100%;
}
.testimonialBox .details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonialBox .details .imgBx {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.testimonialBox .details .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonialBox .details h3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #2196f3;
  line-height: 1em;
}

.testimonia1Box .details h3 span {
  font-size: 12px;
  color: #666;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-coverflow,
.swiper-slide-shadow-right,
.swiper-slide-shadow-coverflow {
  opacity: 0;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
