/* CardComponent.css */

.card-container {
  position: relative;
  width: 20rem;
  height: 25rem;
  overflow: hidden;
  border-radius: 0.8rem;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  user-select:none;
  transition: box-shadow 0.3s, border-radius 0.3s, transform 0.3s; /* Added transform transition */

}

.card-container:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px) scale(1.05); /* Translates above and adds zoom effect */


}

img{
  pointer-events: none;
}

.image-container {
  max-width: 100%;
  height: 66.67%;
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 280px;
  object-fit: fill;
  border-radius: 8px 8px 0 0;
  display: block;
  transition: transform 1s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 85%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title span {
  font-weight: 400;
}

.reviews {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-icon {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.favorite-icon.favorited {
  color: red;
}

.details-container {
  padding: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.right svg {
  transform: rotate(180deg);
}
.left {
  left: 0.7rem;
}

.right {
  right: 0.7rem;
}

.dot-container {
  position: absolute;
  bottom: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.3);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.dot.active {
  background-color: #fff;
}

.img-btns-container {
  position: relative;
}

.details-container {
  height: 33.33%;
}

.price {
  color: #333;
  font-size: 1.4rem;
}
