* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  
}
.navbar {
  background:linear-gradient(315deg, #0cbaba -34%, #380036 57%);
  opacity: 1;
  /* background-repeat: no-repeat; */
  /* background-color: transparent !important; */
  /* background: transparent !important;; */
  border: none !important;
  box-shadow: none !important;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 3rem;
  flex-wrap: wrap;
  height: 10vh;

}


.links {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: white;
  padding: 0.6rem 0.2rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}


.logoStart{
  color: #fb8500;
}

.logo {
  flex: 1;
}
.logoText,
.logo a {
  text-decoration: none;
  color: white;
}


.logoText , .links a{
  position: relative;
  display: inline-block;
}



.logoText::after, .links a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background-color: #fb8500;
  border-radius: 0.5rem;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.links a:after{
  bottom: 10%;
}
.logoText:hover::after , .links a:hover::after{
  width: 100%;
  left: 0;

  
}
.links a::first-letter {
  color: white; /* Set the initial color of the first letter */
  font-weight: 700;
  font-size: 1.2rem;
}

.links a:hover::first-letter {
  color: #fb8500; /* Set the color you want for the first letter when hovering */
}

